%table
  %tr
    %th Label
    %th Address
    - if (addresses.first.is_local rescue false)
      %th Balance
  - addresses.each do |address|
    %tr{:class => cycle('odd', 'even')}
      %td= address.label
      %td= link_to address.address, address_path(address)
      - if address.is_local
        %td= BITCOIN.getreceivedbyaddress(address.address)