.address_table
  %h4 Receiving Addresses
  = render :partial => 'addresses', :object => @local_addresses
.address_table
  %h4 Sending Addresses
  = render :partial => 'addresses', :object => @remote_addresses

.clear{:style => "clear: both"}