%h4 Create Receiving Address
- form_tag(addresses_path, :method => :post) do
  = hidden_field_tag "address[is_local]", "true"
  = label :address, :label, "Label"
  = text_field_tag "address[label]"
  = submit_tag "Create"
